.details-text{
    line-height: 30px;
    font-size: 20px;
}
.des-heading{
    font-size: 80px;
}
.description{
    
    margin-bottom: 100px;
    background-color: white;
    padding:50px;
}
.short-details{
    font-size: 18px;
}