.navigation{
    background-color: white;
    padding: 10px;
    margin-left: 750px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.link {
color: black;
margin-right: 30px;
text-decoration: none;
font-size: 20px;

}