.tutor-heading{
    font-weight: bold;
    text-align: center;
    font-size: 70px;
}
.image{
    width: 400px;
    height: 400px;
    
}
.bg-tutor{
    background-color: lavender;
    padding-top: 50px;
    padding-bottom: 50px;
}
.tutor-details{
    text-align: center;
}
.tutor{
    margin-bottom: 100px;
}